<div class="row">
  <div class="col-md-6">
    <h3>Quiz Application</h3>
  </div>
  <div class="col-md-6 text-sm-right">
    Select Quiz:
    <select [(ngModel)]="quizName" (change)="loadQuiz(quizName)" name="vdz">
      @for (quiz of quizes; track quiz) {
        <option [value]="quiz.id">{{quiz?.name}}</option>
      }
    </select>
  </div>
</div>
<div id="quiz">
  <h1 class="text-sm-center">{{quiz?.name}}</h1>
  <hr />

  @if (mode=='quiz' && quiz) {
    <div>
      @for (question of filteredQuestions; track question) {
        <div>
          <div class="badge badge-info">Question {{pager.index + 1}} of {{pager.count}}.</div>
          <h2>{{pager.index + 1}}. <span [innerHTML]="question.name"></span></h2>
          <div class="row text-left options">
            @for (option of question.options; track option) {
              <div class="col-md-6">
                <div class="option">
                  <label class="" [attr.for]="option.id">
                    <input id="{{option.id}}" type="checkbox" [(ngModel)]="option.selected" (change)="onSelect(question, option);" />
                    {{option.name}}
                  </label>
                </div>
              </div>
            }
          </div>
        </div>
      }
      <hr />
      <div class="text-sm-center">
        @if (config.allowBack) {
          <button class="btn btn-default" (click)="goTo(0);">First</button>
        }
        @if (config.allowBack) {
          <button class="btn btn-default" (click)="goTo(pager.index - 1);">Prev</button>
        }
        <button class="btn btn-primary" (click)="goTo(pager.index + 1);">Next</button>
        @if (config.allowBack) {
          <button class="btn btn-default" (click)="goTo(pager.count - 1);">Last</button>
        }
        <!--<pagination *ngIf="config.showPager" direction-links="false" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>-->
      </div>
    </div>
  }

  @if (mode=='review') {
    <div class="row review">
      @for (question of quiz.questions; track question; let index = $index) {
        <div class="col-sm-4">
          <div (click)="goTo(index)" class="{{ isAnswered(question) == 'Answered'? 'answered': 'not-answered' }}">{{index + 1}}. {{ isAnswered(question) }}</div>
        </div>
      }
    </div>
  }

  @if (mode=='result') {
    <div class="result">
      <h2>Quiz Result</h2>
      @for (question of quiz.questions; track question; let index = $index) {
        <div>
          <div class="result-question">
            <h4>{{index + 1}}. {{question.name}}</h4>
            <div class="row">
              @for (Option of question.options; track Option) {
                <div class="col-md-6">
                  <input id="{{Option.id}}" type="checkbox" disabled="disabled" [(ngModel)]="Option.selected" /> {{Option.name}}
                </div>
              }
            </div>
            <div class="alert {{ isCorrect(question) == 'correct'? 'alert-success': 'alert-danger'}}">Your answer is {{isCorrect(question)}}.</div>
          </div>
        </div>
      }
      <h4 class="alert alert-info text-sm-center">You may close this window now.</h4>
    </div>
  }
  <hr />

  @if (mode!='result') {
    <div>
      <button class="btn btn-default" (click)="mode = 'quiz'">Quiz</button>
      <button class="btn btn-default" (click)="mode = 'review'">Review</button>
      <button class="btn btn-default" (click)="onSubmit();">Submit Quiz</button>
    </div>
  }
</div>